


<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= link_to image_tag("mountain.jpg"), mountain %>
    <div class="caption">
      <h3><%= mountain.name %></h3>
      <p class="yama-explain"><%= mountain.where %></p>
      <p class="yama-explain"><%= mountain.price %></p>
      <p class="yama-explain"><%= mountain.long %></p>

      <p><%= link_to '詳細を見にいく', mountain, :class => "btn btn-primary" %></p>

    </div>
  </div>
</div>
<!-- col-sm-6 -->
