
<%= render 'shared/header' %>

<div class="container">


<h2><%= fa_icon "vcard" %>山の詳細</h2>

<div class="row mountain-show">


    <p><%= @mountain.name %></p>
    <p><%= @mountain.where %></p>
    <p><%= @mountain.price %></p>
    <p><%= @mountain.long %></p>
    <p><%= image_tag(@mountain.image) %>

  </div>

</div>




<%= render 'shared/footer' %>
