
<%= render 'shared/header' %>


<div class="mountain-show">




    <div class="mountain-show-contents">
      <div class="container mountain-user">

        <div class="mountain-title col-md-5">
          <h2><%= @mountain.name %></h2>
        </div>

        <div class="col-md-5">

          <%= link_to image_tag(@user.icon, :class => "img-circle"), @user %>

        </div>

      </div>

      <div class="container">


        <hr>

        <div class="row">


        <div class="col-md-4 mountain-detail">
          <i class="fa fa-money" aria-hidden="true"></i>
          <p>料金：月<%= @mountain.price %>円</p>
        </div>

        <div class="col-md-4 mountain-detail">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>場所：<%= @mountain.where %></p>
        </div>

        <div class="col-md-4 mountain-detail">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <p>期間：<%= @mountain.long %>ヶ月</p>
        </div>

      </div>

      </div>


    </div>

  </div>


  <div class="container">
    <div class="row mountain-show-image">
      <h2>風景写真</h2>




      <div class="col-md-4">
        <p><%= image_tag(@mountain.image) %>

      </div>

      <div class="col-md-4">
        <p><%= image_tag(@mountain.image2) %>

      </div>

      <div class="col-md-4">
        <p><%= image_tag(@mountain.image3) %>

      </div>
    </div>

  </div>

  <div class="chat">
    <%= link_to '問い合わせする' %>
  </div>

  <%= form_tag(action: :pay, method: :post) do %>
     <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_d4f1d40f09a5a296ab6cdf80"></script>
  <% end %>

  </div>
  <!-- mountain-show -->





<%= render 'shared/footer' %>
