
<%= render 'shared/header' %>

<div class="container">


<h2><%= fa_icon "vcard" %>山の詳細</h2>

<%= @mountain.name %><br>
<%= @mountain.where %><br>
<%= @mountain.price %><br>
<%= @mountain.long %><br>
<%= @mountain.image %><br>


</div>




<%= render 'shared/footer' %>
