
<%= render 'shared/header' %>


<div class="mountain-show">




    <div class="mountain-show-contents">
      <div class="container">

        <h2 class="mountain-title">
          <%= @mountain.name %>
        </h2>
        <hr>

        <div class="col-md-4 mountain-detail">
          <i class="fa fa-money" aria-hidden="true"></i>
          <p>料金：月<%= @mountain.price %>円</p>
        </div>

        <div class="col-md-4 mountain-detail">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>場所：<%= @mountain.where %></p>
        </div>

        <div class="col-md-4 mountain-detail">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <p>期間：<%= @mountain.long %>ヶ月</p>
        </div>


      </div>

<%= link_to 'user', @user %>


    </div>

    <hr>

  <div class="container">
    <div class="row mountain-show-image">

      <h2><i class="fa fa-camera" aria-hidden="true"></i>
        写真
      </h2>

      <div class="col-md-4">
        <p><%= image_tag(@mountain.image) %>

      </div>

      <div class="col-md-4">
        <p><%= image_tag(@mountain.image2) %>

      </div>

      <div class="col-md-4">
        <p><%= image_tag(@mountain.image3) %>

      </div>
    </div>

  </div>




  </div>
  <!-- mountain-show -->





<%= render 'shared/footer' %>
