
<%= render 'shared/header' %>

<div class="container">


<h2>山の登録内容</h2>
<p>Find me in app/views/mountains/show.html.erb</p>

<%= @mountain.name %><br>
<%= @mountain.where %><br>
<%= @mountain.price %><br>
<%= @mountain.long %><br>
<%= @mountain.image %><br>


</div>




<%= render 'shared/footer' %>
