
<%= render 'shared/header' %>



<div class="container">

  <div class="about-page-wrapper">


    <h3 class="about-page-title"><%= fa_icon "space-shuttle" %>ヤマワケ！とは？</h3>


  <div class="row">

    <div class="col-md-4 col-sm-6 about-page-contents">
      <%= image_tag "ask.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>ヤマワケとは？</h3>
      <p>
        ヤマワケとは、余っている山をレンタルできるサイトです。
        使っていない山を人に貸して、月額で収入を得られます。
      </p>
    </div>


    <div class="col-md-4 col-sm-6 about-page-contents">
      <%= image_tag "ihave.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "picture-o" %>山をお持ちの方</h3>
      <p>
        山をお持ちの方は、月額で山を貸すことができます。
        余った山を有効に活用することができます。
      </p>
    </div>


    <div class="col-md-4 col-sm-6 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "users" %>山を借りたい方</h3>
      <p>
        山で何かしたい方は、山を借りることができ、
        条件が合えば、山を貸したい人から借りることができます。
      </p>
    </div>

    <div class="col-md-4 col-sm-6 about-page-contents">
      <%= image_tag "cash2.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "credit-card" %>手数料について</h3>
      <p>手数料は、月額契約料の5%が手数料となります。</p>
    </div>




  </div>
  <!-- row -->





  </div>




</div>

<%= render 'shared/footer' %>
