
<%= render 'shared/header' %>



<div class="container">

  <div class="about-page-wrapper">


    <h3 class="about-page-title">ヤマワケ！とは？</h3>


  <div class="row">

    <div class="col-md-4 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>ヤマワケとは？</h3>
      <p>ヤマワケとは、余っている山をレンタルできるサイトです。
        使っていない山を人に貸して、月額で収入を得られます。
      </p>
    </div>


    <div class="col-md-4 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>山をお持ちの方</h3>
      <p>ヤマワケは、</p>
    </div>


    <div class="col-md-4 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>山を借りたい方</h3>
      <p>ヤマワケは、</p>
    </div>

    <div class="col-md-4 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>手数料について</h3>
      <p>ヤマワケは、</p>
    </div>

    <div class="col-md-4 about-page-contents">
      <%= image_tag "mountain.jpg", :class => "img-thumbnail" %>
      <h3><%= fa_icon "question-circle-o" %>**********</h3>
      <p>ヤマワケは、</p>
    </div>



  </div>
  <!-- row -->





  </div>




</div>

<%= render 'shared/footer' %>
