
<%= render 'shared/header' %>


<div class="home-top-image">
  <div class="bg-inner">
    <h1>山を使いたい人に提供する</h1>
    <p>空いている山を有効活用して見ませんか？！</p>
  </div>

</div>

<div class="home-wrapper">
  <div class="container">

  <h2 class="home-new-title"><%= fa_icon "tree" %>新着の山</h2>

    <div class="row">

      <%= render @mountains %>

    </div>
  <!-- row -->

  </div>
</div>


<%= will_paginate @mountains %>







<%= render 'shared/footer' %>
